<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>ajax3.xhtml</welcome-file>
    </welcome-file-list>
<!--    config to don't render comments in the html page-->
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
<!--    that is used to separate the components id name to make easier to use jquery-->
    <context-param>
        <param-name>javax.faces.SEPARATOR_CHAR</param-name>
        <param-value>-</param-value>
    </context-param>
    <!--    that defines the time of session keep alive, in that case her will be killed after 30 minutes.-->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
<!--    that defines the default error page-->
    <error-page>
        <location>/error.xhtml</location>
    </error-page>
<!--    //that defines the filter of application-->
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>br.com.example.jsftraining.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/restricted/*</url-pattern>
    </filter-mapping>
<!--    that defines when all the uploaded images of application will be-->
<!--    stored in the container server-->
<!--    and represents a global variable for the system too.-->
    <context-param>
        <param-name>images.location</param-name>
        <param-value>C:\home...</param-value>
    </context-param>
</web-app>